@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    background: no-repeat url(images/pattern-background-desktop.svg) hsl(225, 100%, 94%);
}

.container{
    max-width: 500px;
    min-height: 730px;
    font-family: 'Roboto', sans-serif;
    margin-inline: auto;
    justify-content: space-around;
    align-content:center;
    margin: 3rem auto;
    background-color: #fff;
    border-radius: 1rem;
}

img{
    width: 500px;
}

.h1{
    line-height: 4rem;
    text-align: center;
}

.h1 h1{
    color: black;
}

.paragraph{
    color: #6C757D;
    text-align: center;
}

.paragraph p{
    padding: 0 5rem;
    line-height: 1.5rem;
}

.small-container{
    width: 20rem;
    min-height: 78px;
    border-radius: 5px;
    margin-inline: auto;
    margin-top: 2rem;
    background-color: hsl(225, 100%, 98%);
}

.small-container img{
    width: 48px;
    height: 48px;
    margin: 10px 15px;
}

.table{
    display: inline-block;
    position: absolute;
    margin-top: 10px;
}

#thick{
    font-weight: bolder;
}

#lighter td{
    color: #6C757D;
}

.small-container a{
    float: right;
    margin-top: 1.5rem;
    margin-right: 1rem;
    font-weight: bold;
}

.cursor{
    width: 25rem;
    min-height: 50px;
    margin-inline: auto;
    margin-top: 2rem;
    background-color: hsl(245, 75%, 52%);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.cursor p{
    text-align: center;
    padding: 1rem;
    color: #fff;
    font-weight: bolder;
}

#cancel-order{
    text-align: center;
    margin-top: 2rem;
    color:#6C757D;
}

.attribution{
    margin-top: 2rem;
    font-size: 16px;
}



